<template>
  <div
    class="product-card bg-white max-w-xs rounded m-3 overflow-hidden shadow-xl"
  >
    <div class="w-full h-96 flex">
      <UiProductImage
        class="m-auto max-h-full p-5"
        :image-url="product.image"
        :alt="product.title"
      />
    </div>
    <div class="px-5 pb-5">
      <a href="#" @click="$emit('toProduct')">
        <h5 class="font-bold text-xl text-primary truncate">
          {{ product.title }}
        </h5>
      </a>
      <p class="text-gray-700 mt-2 truncate">{{ product.description }}</p>
      <div class="flex items-baseline">
        <UiProductRate
          class="flex-1"
          :rate="Math.round(product.rating?.rate)"
        />
        <p class="text-gray-700 mt-2">${{ product.price }}</p>
      </div>
      <UButton :to="`/product/${product.id}`" block>Show more</UButton>
    </div>
  </div>
</template>
<script setup lang="ts">
  import type { ProductType } from '~/types';
  defineProps<{
    product: ProductType;
  }>();

  // const showAlertMessage: any = inject('showAlertMessage');

  const addToCart = () => {
    //showAlertMessage('product.addToCartMessage');
  };
</script>
