<script setup lang="ts">
  // Call route composable to get product id.
  const route = useRoute();
  // Call product composable to get product.
  const { currentProduct, getProduct } = useProduct();
  const { addProductToCart } = useCart();
  if (route.params.id) await getProduct(route.params.id as unknown as number);
  else {
    // throw 404 page when not founding products.
    throw showError({
      statusCode: 404,
      fatal: true,
      message: 'Not found',
    });
  }

  useHead({
    title: currentProduct.value.title,
  });
</script>

<template>
  <section class="max-w-screen-xl m-auto">
    <UBreadcrumb
      class="my-3"
      divider="/"
      :links="[
        { label: 'Home', to: '/' },
        {
          label: currentProduct.category,
          to: `/category/${currentProduct.category}`,
        },
        { label: currentProduct.title },
      ]"
    />
    <div class="flex">
      <div class="flex-1">
        <UiProductImage
          class="m-auto max-h-full"
          :image-url="currentProduct.image"
          :alt="currentProduct.title"
        />
      </div>

      <div class="flex-1 mx-5">
        <h2
          class="text-sm title-font text-gray-700 dark:text-gray-200 uppercase tracking-widest"
        >
          {{ currentProduct.category }}
        </h2>
        <h1 class="font-bold text-xl text-primary">
          {{ currentProduct.title }}
        </h1>

        <div class="flex items-baseline">
          <UiProductRate
            class="flex-1"
            :rate="Math.round(currentProduct.rating?.rate)"
          />
          <p class="text-gray-700 mt-2 dark:text-white">
            ${{ currentProduct.price }}
          </p>
        </div>
        <p class="text-gray-700 dark:text-white mt-2">
          {{ currentProduct.description }}
        </p>

        <div class="flex border-t border-gray-300 mt-5 pt-5">
          <UButton
            @click="addProductToCart(currentProduct)"
            block
            icon="i-heroicons-shopping-cart-16-solid"
            >Add to cart</UButton
          >
        </div>
      </div>
    </div>
  </section>
</template>
