<template>
  <button
    @click="$emit('addToCart')"
    type="submit"
    class="bg-gray-800 duration-200 focus:outline-none focus:shadow-outline font-medium h-12 hover:bg-gray-900 inline-flex items-center justify-center px-6 text-white tracking-wide transition w-full"
  >
    Add to Cart
  </button>
</template>
