<script setup lang="ts">
  withDefaults(defineProps<{ qty: number }>(), { qty: 0 });
</script>
<template>
  <div class="relative inline-flex items-center p-3 font-medium text-center">
    <UIcon name="i-heroicons-shopping-cart" size="sm"> </UIcon>
    <div
      class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-primary bg-white border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900"
    >
      {{ qty }}
    </div>
  </div>
</template>
