<script setup lang="ts">
  defineEmits(['change-product-title']);
  defineProps<{
    categories: string[];
    maxPrice: number;
  }>();

  const productTitle = ref('');
</script>

<template>
  <div>
    <h2 class="text-xl text-primary uppercase my-5">Filter</h2>
    <div class="md:flex p-2 items-center justify-center">
      <UFormGroup class="flex-1 mx-2" label="Product name">
        <UInput
          @change="$emit('change-product-title', productTitle)"
          v-model="productTitle"
        />
      </UFormGroup>
      <UiFilterByCategory class="flex-1" :categories="categories" />
      <UiFilterByPrice class="flex-1 mx-2" :min="0" :max="maxPrice" />
    </div>
  </div>
</template>
