<script setup lang="ts">
  import type { CartProductType } from '@/types';

  defineProps<{
    cartProducts: CartProductType[];
  }>();

  defineEmits(['removeFromCart']);
</script>

<template>
  <div class="cart-products">
    <table class="cart-products-list w-full">
      <thead class="cart-products-list-header">
        <tr>
          <th scope="col" class="px-6 py-3 text-left">Product Name</th>
          <th scope="col" class="px-6 py-3">Price</th>

          <th scope="col" class="px-6 py-3">Qty</th>

          <th scope="col" class="px-6 py-3">Total</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="cart-products-list-line"
          v-for="cartProduct in cartProducts"
          :key="cartProduct.product.title"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-left text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ cartProduct.product.title }}
          </th>
          <td class="px-6 py-4">{{ cartProduct.product.price }}$</td>
          <td class="px-6 py-4 text-center">
            {{ cartProduct.qty }}
          </td>

          <td class="px-6 py-4 text-center">
            {{ cartProduct.product.price * cartProduct.qty }}$
          </td>
          <td class="px-6 py-4">
            <a
              @click.prevent="$emit('removeFromCart', cartProduct.product.id)"
              href="#"
              class="font-medium text-primary hover:underline text-center"
              >Remove</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
