<script lang="ts" setup>
  // Call route composable to get category name.
  const route = useRoute();
  // Call product composable to get products.
  const { products, getProductsByCategory } = useProduct();
  const catName = ref(route.params.cat as string);
  await getProductsByCategory(catName.value);

  if (products.value.length === 0) {
    // throw 404 page when not founding products.
    throw showError({
      statusCode: 404,
      fatal: true,
      message: 'Not found',
    });
  }

  useHead({
    title: catName.value,
  });
</script>

<template>
  <div class="max-w-screen-xl m-auto">
    <h1 class="font-bold text-xl text-primary uppercase py-5">
      {{ catName }}
    </h1>
    <div class="flex flex-wrap items-center justify-center">
      <UiProductCard
        v-for="product in products"
        :key="product.id"
        :product="product"
      />
    </div>
  </div>
</template>
