<script lang="ts" setup>
  const { cart, removeProductFromCart } = useCart();

  useHead({ title: 'Cart' });
</script>

<template>
  <div class="max-w-screen-xl m-auto">
    <h1 class="font-bold text-xl text-primary uppercase p-5">Cart</h1>
    <UiProductsList
      v-if="cart.products.length"
      @remove-from-cart="removeProductFromCart"
      :cart-products="cart.products"
    />
    <div v-else class="text-center">There are no products in your basket.</div>
  </div>
</template>
