<script lang="ts" setup>
  const { products, maxProductPrice, getProducts } = useProduct();
  const { menu } = useMenu();
  getProducts();
</script>

<template>
  <div class="max-w-screen-xl m-auto">
    <UiFilterItems :categories="menu" :max-price="maxProductPrice" />

    <div class="flex flex-wrap items-center justify-center flex-1">
      <UiProductCard
        v-for="product in products"
        :key="product.id"
        :product="product"
      />
    </div>
  </div>
</template>
