<script setup lang="ts">
  const { categories } = defineProps<{ categories: string[] }>();
  const emit = defineEmits(['on-change-category'])
  const options = ref([] as string[]);
  options.value = ['All', ...categories];

  const selected = ref(options.value[0]);

  const onChangeCategory= () => {
    emit('on-change-category', selected.value)
  }
  
</script>
<template>
  <UFormGroup label="Category">
    <UInputMenu v-model="selected" @input="onChangeCategory" :options="options" />
  </UFormGroup>
</template>
