<script setup lang="ts">
  withDefaults(defineProps<{ max: number; min: number }>(), {
    max: 100,
    min: 0,
  });
  const emit = defineEmits(['on-change-price']);

  const onChangePrice = (payload: unknown) => {
    emit('on-change-price', payload);
  };
</script>

<template>
  <UFormGroup label="Price">
    <URange size="md" :min="min" :max="max" @change="onChangePrice" />
  </UFormGroup>
</template>
